.root {
  -fx-base: #bbd1ea;
  -fx-background: #dae3e5;
  -fx-accent: #507dbc;
}

.title {
  -fx-font-size: 60pt;
}

.subtitle {
  -fx-font-size: 30pt;
}

.button {
  -fx-focus-traversable: false;
  -fx-font-size: 20;
}

.radio-button > .radio {
  -fx-border-width: 1px;
  -fx-border-color: #000;
  -fx-background-color: white;
  -fx-background-image: null;
  -fx-border-radius: 30px;
  -fx-padding: 4px;
}
.radio-button > .radio:selected {
  -fx-background-color: white;
  -fx-background-image: null;
}
.radio-button > .dot {
  -fx-background-radius: 30px;
  -fx-padding: 8px;
}

.home-screen-splash {
  -fx-fill: url(images/gameBackground.png);
}