/********************************************************
 *                                                      *
 *                      Root Styling                    *
 *                                                      *
 ********************************************************/

.root {
  -fx-base: #bbd1ea;
  -fx-background: #dae3e5;
  -fx-accent: #507dbc;
  -fx-dark-fill: #04080f;
}


/********************************************************
 *                                                      *
 *                  Text/Label Styling                  *
 *                                                      *
 ********************************************************/

.title {
  -fx-font-size: 60pt;
}

.title .text {
  -fx-font-weight: bold;
  -fx-stroke: white;
  -fx-stroke-width: 2px;
}

.subtitle {
  -fx-font-size: 30pt;
}

/********************************************************
 *                                                      *
 *                    Control Styling                   *
 *                                                      *
 ********************************************************/

.button {
  -fx-focus-traversable: false;
  -fx-font-size: 20pt;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;
  -fx-border-color: derive(-fx-accent, 25%);
}

.button .text {
  -fx-stroke: white;
  -fx-stroke-weight: 0.75;
  -fx-font-weight: bolder;
}

/********************************************************
 *                                                      *
 *                    Layout Styling                    *
 *                                                      *
 ********************************************************/

 .opaque {
  -fx-background-color: -fx-background;
  -fx-background-radius: 20;
  -fx-border-color: -fx-accent;
  -fx-border-radius: 20;
 }

 .translucent {
  -fx-background-color: rgba(218, 227, 229, 0.5);
 }

/********************************************************
 *                                                      *
 *                 Home Screen Styling                  *
 *                                                      *
 ********************************************************/

.home-screen-splash {
  -fx-background-image: url(/gamedata/mario/gameBackground.png);
  -fx-background-size: cover;
  -fx-border-color: -fx-accent;
  -fx-border-width: 2px;
}

/********************************************************
 *                                                      *
 *                 Help Screen Styling                  *
 *                                                      *
 ********************************************************/

.help-screen .background {
  -fx-background-color: -fx-base;
}

.help-screen .directions .label {
  -fx-wrap-text: true;
}

.help-screen .directions .text {
  -fx-font-size: 15pt;
}


/********************************************************
 *                                                      *
 *            Level Selector Screen Styling             *
 *                                                      *
 ********************************************************/

/********************************************************
 *                   Level Progress Bar                 *
 ********************************************************/

.level-progress-bar {
  -fx-background-color: derive(-fx-background, 50%);
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: -fx-accent;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.level-progress-bar .bar {
  -fx-background-color: #000;
  -fx-background-radius: 5px;
}

.level-progress-bar .label {
  -fx-font-size: 15pt;
  -fx-text-fill: white;
}


/********************************************************
 *                     Level Selector                   *
 ********************************************************/

.level-selector-tool {
  -fx-background-color: -fx-base;
  -fx-background-radius: 10px;
  -fx-border-color: -fx-accent;
  -fx-border-radius: 10px;
}

.level-selector-tool .radio-button .text {
  -fx-font-size: 15pt;
  -fx-font-weight: bolder;
  -fx-stroke: white;
  -fx-stroke-width: 1px;
}

.level-selector-tool .radio-button .radio {
  -fx-border-width: 2px;
  -fx-border-color: -fx-dark-fill;
  -fx-background-color: white;
  -fx-background-radius: 100px;
  -fx-border-radius: 100px;
  -fx-padding: 5px;
}

.level-selector-tool .radio-button .radio .dot {
  -fx-padding: 10px;
  -fx-background-insets: 0;
}

.level-selector-tool .radio-button:selected .radio .dot {
  -fx-background-color: -fx-dark-fill;
}

.level-selector-tool > .level-connection {
}


/********************************************************
 *                                                      *
 *                 Game Screen Styling                  *
 *                                                      *
 ********************************************************/

.user-data-display {
  -fx-font-size: 20pt;
  -fx-padding: 5px;
  -fx-background-color: derive(-fx-background, 25%);
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: -fx-accent;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}


/********************************************************
 *                                                      *
 *            User Selector Screen Styling              *
 *                                                      *
 ********************************************************/

.user-selector .label {
  -fx-font-size: 16pt;
}

.user-creation-screen .label .text {
  -fx-font-size: 16pt;
}

.user-selector .scroll-pane .users {
  -fx-padding: 5 5 10 5;
}

.user-selector .scroll-pane {
  -fx-font-size: 16pt;
}


/********************************************************
 *                                                      *
 *            Game Selection Screen Styling             *
 *                                                      *
 ********************************************************/

.game-selector .label {
  -fx-font-size: 16pt;
}

.game-selection-screen .label .text {
  -fx-font-size: 16pt;
}

.game-selector .scroll-pane .games {
  -fx-padding: 5 5 10 5;
}

.game-selector .scroll-pane {
  -fx-font-size: 16pt;
}

/********************************************************
 *                                                      *
 *                Loading Screen Styling                *
 *                                                      *
 ********************************************************/

.loading-screen {
  -fx-background-color: -fx-dark-fill;
}

.loading-screen .label {
  -fx-text-fill: white;
}

.loading-screen .subtitle .text {
  -fx-stroke: -fx-accent;
  -fx-stroke-width: 1px;
}

.loading-screen .level-label {
  -fx-font-size: 20pt;
}